.container {
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0, rgba(51, 51, 51, 0), rgba(204, 204, 204, 1)),
    url(https://img.freepik.com/free-vector/aesthetic-pastel-pink-background-rainbow-sky-with-glitter-design-vector_53876-156332.jpg?w=2000);   
    background-size: cover;

  }
  
   html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  } 

  form {
    width: 400px;
    padding: 50px;
    border: 5px solid rgb(202, 166, 166);
    box-shadow : 0 30px 50px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border-width: 5px;
    border-color: #f1d0f1;
    background-image: linear-gradient(0, rgba(51, 51, 51, 0), rgb(186, 28, 150)),
  }
  h2 {
    text-align: center;
  }

  button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#000000;
    background-color: #ecdcec;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }

  submit{
    text-align: center;
  }
